.App {
    --header_height: 60px;
}

.hww {
    margin-left: 70px;
    margin-top: 32px;
}

.hwTitle {
    font-size: 22px;
    margin: 39px 0 5px 70px;
    font-weight: 600;
}
.x {
    display: flex;
    justify-content: space-between;
}

hr {
    border: 1px solid #D9D9D9;
}
.hw {
    margin-top: 31px;
}